.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.product img {
 width: 30%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 400px;
  text-align: center;
}

.product h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #343a40;
}

.product p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #6c757d;
}

.product h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #495057;
}

.product .btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.product .btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .product {
    margin-top: 20px;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}