.navbar-container {
  width: 100%;
  transition: opacity 0.5s ease;
}

.header-opacity {
  opacity: 0.2;
}

.navbar-container:hover{
  opacity: 1;
}

.navbar {
  background-color: #f8f9fa;
}

.position-fixed {
  display: block;
  width: 100%; 
  z-index: 1;
  }

.movil{
  display: none;
}

@media (width <= 768px){
  .movil{
    display: block;
  }
  .pc{
    display: none;
  }
}

